<h1>Search Flights:</h1>

<%= form_with url: flights_path, method: :get, local: true do %>
    <div>
        <%= label_tag :origin_id, "From:" %>
        <%= select_tag :origin_id, options_from_collection_for_select(Airport.all, :id, :airport_code) %>
    </div>

    <div>
        <%= label_tag :destination_id, "To:" %>
        <%= select_tag :destination_id, options_from_collection_for_select(Airport.all, :id, :airport_code) %>
    </div>

     <div> 
        <%= label_tag :num_passengers, "Number of passengers:" %>
        <%= select_tag :num_passengers, options_for_select((1..4).map { |n| [n, n] }) %>
    </div>

     <div>
        <%= label_tag :departure_time, "Flight Date:" %>
        <%= select_tag :departure_time, options_for_select(
            Flight.pluck(:departure_time)
                .map(&:to_date)
                .uniq
                .sort
                .map { |date| [date.strftime("%B %d %Y"), date] }
        ) %>
    </div>

    <%= submit_tag "Search Flights" %>
<% end %>

<% if @flights.present? && @search_performed %>
    <h2>Available Flights:</h2>

    <%= form_with url: new_booking_path, method: :get, local: true do %>
        <% @flights.each do |flight| %>
            <div>
                <%= radio_button_tag :flight_id, flight.id %>
                <%= label_tag "flight_id_#{flight.id}" do %>
                    From: <%= flight.departure_airport.airport_code %>
                    To: <%= flight.arrival_airport.airport_code %>
                    Departure: <%= flight.departure_time.strftime("%B %d %Y") %>
                    Duration: <%= flight.duration_minutes %> minutes
                <% end %>
            </div>
        <% end %>
        <%= hidden_field_tag :num_passengers, params[:num_passengers] %>
        <%= submit_tag "Select Flight" %>
    <% end %>

<% elsif @search_performed %>
    <p>No flights found matching your search criteria.</p>
<% end %>
